.narrow-container {
  max-width: 330px;
  padding: 8% 0 0;
  margin: auto;
}

.narrow-content {
  margin-top: 20px;
  margin-left: 0;
  padding: 26px 24px 46px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.narrow-content img {
  padding-bottom: 24px;
}
