/*navigation*/

.logo{
  height: 30px;
  width: 200px;
  position: relative;
}
.navbar-brand{
  padding: 0;
  margin: 0;
}

.navbar{
  background-color: rgb(100, 100, 100) !important;
}

a {
  cursor: pointer;
}
